header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1275px;
  margin:  40px 40px 0 40px;
}

mat-sidenav-container {
  height: 100vh;
  background: none;
}

mat-sidenav-content {
  background: none;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background: linear-gradient(
    180deg
    , #0099AE 0%, #00BF82 100%);
  width: 380px;
}
